svg {
  display:none;
}
a.navbar-brand {
  min-height:50px;
  width:300px;
  background-size:160px 80px;
  background-position:0px -35px;
  background-repeat:no-repeat;
  /*background-image:url('../img/logos/title.png');*/
}
/* .cbp-af-header-shrink is the class
used by the navbar when it turns white;
let's just overload it with this declaration
as well */
.cbp-af-header-shrink a.navbar-brand {
  background-image:url('../img/logos/title.png');
  background-position:0px 5px;
}

section#mills {
  background-image:none;
  margin-top:4em;
  margin-bottom:4em;
  padding:0;
}
section#mills .page-header {
  margin-top:4em;
}
.carousel-inner .item {
  background-repeat:no-repeat;
  background-size:cover;
  min-height:550px;
}

.carousel-inner .item h1,
.carousel-inner .item h2,
.carousel-inner .item .carousel-caption {
  color:black !important;
}

div#intro {
  text-align:center;
  color:white;
}

div#intro a {
  border-radius:2px;
  font-size:2em;
}

.title {
  position:absolute;
  left:25%;
  top:10%;
}

.logo {
  background-color:rgba(0,0,0,0.3);
  background-image:url('../img/logos/full-white.png');
  background-size:100% auto;
  background-repeat:no-repeat;
  min-height:200px;
  width:500px;

  margin: 0 auto;
  margin-top:100px;
  margin-bottom:50px;
}

video#bgvid {
  margin-left:-55px;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-filter:grayscale(100%);
}
