svg {
  display:none;
}

.row+.row {
  margin-top:2.1em;
}

img, .img {
  filter:grayscale(100%);
  -webkit-filter:grayscale(100%);
}
img:hover, .img:hover {
  filter:grayscale(0%);
  -webkit-filter:grayscale(0%);
}

/* accent colors */
.btn-primary {
  background-color:sienna;
  border:none;
}
.btn-primary:hover {
  background-color:rgb(40,40,40);
}
.btn.contact-button {
  border:none;
  background-color:sienna;
}

a.btn.contact-button {
  background-color:black;
  color:white;
}

a.btn.contact-button:hover {
  background-color:black;
  color:sienna;
}

a,
.page-header h3,
.cbp-af-header .nav a:hover,
.highlight,
#contact a.icon:hover {
  color:sienna;
}

.navbar .navbar-nav .current > a {
  color:sienna !important;
}

section.cta {
  background-color:sienna;
  color:white;
}

section.cta h2,
section.cta h3,
section.cta span.highlight {
  color:white;
}

/* end accent colors */

a.navbar-brand {
  min-height:50px;
  width:300px;
  background-size:160px 80px;
  background-position:0px -35px;
  background-repeat:no-repeat;
  /*background-image:url('../img/logos/title.png');*/
}
/* .cbp-af-header-shrink is the class
used by the navbar when it turns white;
let's just overload it with this declaration
as well */
.cbp-af-header-shrink a.navbar-brand {
  background-image:url('../img/logos/title.png');
  background-position:0px 5px;
}

.btn-primary{
  padding:.7em 2.1em;
  font-size:1.5em;
  margin-top:40px;
}

section .page-header.text-center {
  font-size:1.2em;
}
section .page-header.text-center h3 {
  font-size:1.2em;
}
section .page-header.text-center h2,
section .page-header.text-center h3 {
  font-weight:600;
}

section#mills {
  background-image:none;
}
.carousel-inner .item {
  background-repeat:no-repeat;
  background-size:cover;
  min-height:550px;
}

.carousel-caption {
  background-color:rgba(0,0,0,0.6);
  color:white;
}

div#intro {
  text-align:center;
  color:white;
  padding-top:55px;
}

div#intro a {
  border-radius:2px;
  font-size:1.3em;
}

.title {
  margin-top:10em;
}

.logo {
  background-color:rgba(0,0,0,0.3);
  background-image:url('../img/logos/full-white.png');
  background-size:100% auto;
  background-repeat:no-repeat;
  background-position-y:50%;
  min-height:300px;
  width:550px;
  margin: 0 auto;
  margin-top:100px;
}

.title p {
  margin-top:2.5em;
  margin-bottom:2.5em;
  font-size:1.5em;
}

.address {
  text-align:right;
}
.address p {
  font-size:1.7em;
  padding:0 !important;
}

a.btn.contact-button {
  text-transform:none;
  border:none;
  margin:0;
  margin-bottom:2em;
}

#map {
  border-radius:75px;
  min-height:170px;
  width:170px;
  margin:0 auto;
  -webkit-clip-path: cirlce(50%,50%,50%);
}

.row img.story-photo-bottom{
  margin-top:20px;
}

.story-text{
  font-size:1.2em;
}

video#bgvid {
  position:absolute;
  z-index:-100;
  right:0;
  bottom:0;
  min-height:100%;
  width:auto;
  height:auto;
  filter:grayscale(100%);
  -webkit-filter:grayscale(100%);
}
